<div class="flex-wrap justify-center">
    {{#if jogadores}}
        {{#jogadores}}
        <div class="box-big">
            <div class="float-right">
                <button type="button" class="btn-link" style="color: red;" onclick="javascript:window.open ('/popup/{{nome}}','{{nome}}','width=5, height=5, scrollbars=no, menubar=no, location=no, resizable=no, directories=no, status=no, toolbar=no, titlebar=no' );">
                    <img src="assets/img/popup.svg" />
                </button>
            </div>
            <a href="/jogador/{{nome}}">
                <h3>{{nome}}</h3>
                <div class="box-big-content">
                    <div class="box">
                        <h4>VPIP</h4>
                        {{toFixed estatisticas.vpip 0}}%
                    </div>
                    <div class="box">
                        <h4>PFR</h4>
                        {{toFixed estatisticas.pfR 0}}%
                    </div>
                    <div class="box">
                        <h4>Check-raise</h4>
                        {{toFixed estatisticas.CR 0}}%
                    </div>
                    <div class="box">
                        <h4>3-Bet</h4>
                        {{toFixed estatisticas.pf3B 1}}%
                    </div>
                    <div class="box">
                        <h4>Fold to 3-Bet</h4>
                        {{toFixed estatisticas.pfF3B 0}}%
                    </div>
                    <div class="box">
                        <h4>C-Bet</h4>
                        {{toFixed estatisticas.CBet 0}}%
                    </div>
                    <div class="box">
                        <h4>Fold to C-Bet</h4>
                        {{toFixed estatisticas.FCBet 0}}%
                    </div>
                    <div class="box">
                        <h4>Mãos</h4>
                        {{toFixed maos 0}}
                    </div>
                </div>
            </a>
        </div>
        {{/jogadores}}
    {{else}}
        <p>Nenhum jogador encontrado!</p>
    {{/if}}
</div>