<div class="flex-wrap justify-center">
    {{#if mao}}
        {{#mao}}
         <div class="box-big">
            <h3>Mao: {{idPokerstars}}</h3>
            <div class="box-big-content">
                <div class="textBox">
                    <h4>Pré-Flop</h4>
                    {{#preFlop}}
                        <div style="flex-1"><b>{{nomeJogador}}</b> - {{acao}}</div>
                    {{/preFlop}}
                </div>
                {{#if flop}}
                    <div class="textBox">
                        <h4>Flop</h4>
                        {{#flop}}
                            <div style="flex-1"><b>{{nomeJogador}}</b> - {{acao}}</div>
                        {{/flop}}
                    </div>
                {{/if}}
                {{#if turn}}    
                    <div class="textBox">
                        <h4>Turn</h4>
                        {{#turn}}
                            <div style="flex-1"><b>{{nomeJogador}}</b> - {{acao}}</div>
                        {{/turn}}
                    </div>
                {{/if}}
                {{#if river}}
                    <div class="textBox">
                        <h4>River</h4>
                        {{#river}}
                            <div style="flex-1"><b>{{nomeJogador}}</b> - {{acao}}</div>
                        {{/river}}
                    </div>
                {{/if}}
            </div>
        </div> 
        {{/mao}}
    {{else}}
        <p>Mão não encontrada</p>
    {{/if}}
</div>