{{#if maoTorneio}}
    {{#maoTorneio}}
        <h2>
            Mao #{{idMao}} {{#if processado}}<img class="icon-medium" src="assets/img/check.svg" />{{else}}<img class="icon-medium" src="assets/img/deny.svg" />{{/if}}
            <a class="button" href="/torneio/{{../idTorneio}}/mao/{{idMao}}/exportar"> 
                .TXT
            </a>
        </h2>
        <p>Data: {{data}}</p>
        <p>Ganhador: {{ganhador}}</p>
        <p>Pote: {{pote}}</p>
        <p>Bordo: {{bordo}}</p>
        <div id="text-mao">
            {{#linhas}}
                <p class="p-thin">{{.}}</p>
            {{/linhas}}
        </div>
    {{/maoTorneio}}
    <input type="button" class="float-right" onclick="window.location = '/torneio/{{idTorneio}}'" value="Voltar">
{{/if}}