{{#if torneio}}
    {{#torneio}}
        <h2>Torneio #{{idTorneio}} {{#if processado}}<img class="icon-medium" src="assets/img/check.svg" />{{else}}<img class="icon-medium" src="assets/img/deny.svg" />{{/if}}</h2>
        {{#maos}}
            <p class="p-link">
                <a href="/torneio/{{../idTorneio}}/mao/{{idMao}}">
                    Mão #{{idMao}} {{#if processado}}<img class="icon-small" src="assets/img/check.svg" />{{else}}<img class="icon-small" src="assets/img/deny.svg" />{{/if}}
                </a>
                <a class="button" href="/torneio/{{../idTorneio}}/mao/{{idMao}}/exportar"> 
                    .TXT
                </a>
            </p>
        {{/maos}}
    {{/torneio}}
    <input type="button" class="float-right" onclick="window.location = '/torneios'" value="Voltar">
{{/if}}